/* @theme common */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    font-family: Inter, Helvetica, Arial;
    --red: hsl(25deg 70% 60%);
    --green: hsl(85deg 70% 60%);
    --blue: hsl(220deg 70% 60%);
}

section.top {
    background-image: url("./background.png");
    background-size: cover;
    color: white;
    padding-left: 10%;
}
section.top::after {
    color: white;
}
section.top footer {
    color: white;
}

section.body footer {
    background: linear-gradient(90deg, var(--green), var(--red) 30%, var(--blue));
    background: -webkit-linear-gradient(0deg, var(--green), var(--red) 30%, var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}